#! /usr/bin/env bash

# Navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"
alias -- -="cd -"
alias db="cd ~/Dropbox"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias p="cd ~/Projects"
alias anth="cd ~/Projects/anth"
alias dot="cd ~/Projects/anth/dotfiles"

# ITC specific navigation
alias itc="cd ~/Projects/itc"

# File management
alias la="ls -alF"
alias cat="cat -n"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# OSX
alias mute="osascript -e 'set volume output muted true'"
alias unmute="osascript -e 'set volume 3'"
alias emptytrash="rm -rfv ~/.Trash"

# git shortcuts
alias gbr="git br"           # branch
alias gci="git ci"           # commit
alias gcl="git cl"           # clone
alias gco="git co"           # checkout
alias gd="git diff"          # diff --word-diff
alias gf="git f"             # ls-files | grep -i
alias gg="git grep"          # grep -Ii
alias gla="git la"           # config -l | grep alias | cut -c 7-
alias glds="git lds -25"     # log --pretty=format:%C(yellow)%h\ %C(cyan)%ad%Cred%d\ %Creset%s%C(magenta)\ [%cn] --decorate --date=short --graph
alias gldsb="git lds -50"    # log --pretty=format:%C(yellow)%h\ %C(cyan)%ad%Cred%d\ %Creset%s%C(magenta)\ [%cn] --decorate --date=relative --graph
alias gldr="git ldr -25"     # log --oneline --decorate --graph
alias grh="git rh"           # reset --hard
alias grhm="git rhm"         # reset --hard origin/master
alias grs="git rs"           # reset --soft HEAD^
alias gs="git s"             # status -s
alias gst="git st"           # status
alias gpo="git po"           # pull --no-edit origin
alias gdmb="git dmb"         # branch --merged | egrep -v "(^\*|master|staging|production)" | xargs git branch -d

# Editors
alias space="open /Applications/Emacs.app"

# process killing/grepping
alias pk="pkill -9 \!^"

# Search bash history
alias gh="history | grep "

# Postgres
alias pgstart="pg_ctl -D /usr/local/var/postgres -l /usr/local/var/postgres/server.log start"
alias pgstop="pg_ctl -D /usr/local/var/postgres stop -s -m fast"

# ctags
alias actags="rm tags; ctags --exclude=.git --exclude=vendor --exclude=node_modules --exclude=coverage --exclude=public -R .;"

# Reloading profile
alias sop="source ~/.bash_profile; rvm reload"

# Better silver searcher default
alias ag="ag -u"
