#! /usr/bin/env bash

# Navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"
alias -- -="cd -"
alias db="cd ~/Dropbox"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias p="cd ~/Projects"
alias anth="cd ~/Projects/anth"

# TTM specific navigation
alias ttm="cd ~/Projects/TTM"
alias ttma="cd ~/Projects/TTM/apangea"
alias ttmr="cd ~/Projects/TTM/reporting"
alias ttmlp="cd ~/Projects/TTM/lesson-player"
alias ttmlt="cd ~/Projects/TTM/live_teaching"
alias ttmab="cd ~/Projects/TTM/avatar-builder"
alias ttmm="cd ~/Projects/TTM/meta"
alias ttml="cd ~/Projects/TTM/login/"

# TTM specific other
alias giui="~/Projects/TTM/gi/gi; open issues.html; sleep 5; rm issues.html"
alias gi="~/Projects/TTM/gi/gi 1"

# Listing
alias la="ls -altF"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# OSX
alias mute="osascript -e 'set volume output muted true'"
alias unmute="osascript -e 'set volume 3'"
alias emptytrash="rm -rfv ~/.Trash"

# git shortcuts
alias gbr="git br"
alias gci="git ci"
alias gcl="git cl"
alias gco="git co"
alias gd="git diff"
alias gf="git f"
alias gg="git grep"
alias gla="git la"
alias glds="git lds -25"
alias gldsb="git lds -50"
alias gldr="git ldr -25"
alias grh="git rh"
alias grhm="git rhm"
alias grhrc="git rhrc"
alias grs="git rs"
alias gs="git s"
alias gst="git st"
alias gpo="git po"

# Editors
alias space="open /Applications/Emacs.app"

# process killing/grepping
alias pk="pkill -9 \!^"

# Search bash history
alias gh="history | grep "

# Postgres
alias pgstart="pg_ctl -D /usr/local/var/postgres -l /usr/local/var/postgres/server.log start"
alias pgstop="pg_ctl -D /usr/local/var/postgres stop -s -m fast"

# ctags
alias actags="rm tags; ctags --exclude=.git --exclude=vendor --exclude=node_modules --exclude=coverage --exclude=public -R .;"

# Running TTM apps
alias runttm="ttma; bundle exec foreman start"
alias runttmd="ttma; bundle exec foreman s -f Procfile.Development"
alias runttmnr="ttma; bundle exec foreman s -f Procfile.NewRelic"
alias rundw="ttmr; bundle exec foreman start -p 3000"
alias rundwd="ttmr; bundle exec foreman s -f Procfile.Development"
alias rundwnr="ttmr; bundle exec foreman s -f Procfile.NewRelic"
alias runlp="ttmlp; grunt serve"
alias runlt="ttmlt; grunt build; nf start --port 5050 -j Procfile.debug"
alias runab="ttmab; grunt serve"
alias runl="ttml; bundle exec foreman start -f Procfile.development"

# Testing TTM apps
alias ttmtestup="rake db:test:prepare; RAILS_ENV=test rake servers:start"
alias ttmtestdown="RAILS_ENV=test rake servers:stop"
alias repeatm="/Users/anthlam/Projects/TTM/anths-scripts/repeat-m.sh"

# Reloading profile
alias sop="source ~/.bash_profile"
