#!/usr/bin/env bash

# default editor
EDITOR=nvim;
PSQL_EDITOR="vim -u NONE";
FCEDIT=$(brew --prefix)/bin/vim;
export KUBE_EDITOR=$EDITOR;

# nvm
export NVM_DIR=~/.nvm;

# CLI colors
CLICOLOR=1;

# Colored grep output
export GREP_OPTIONS="--color=auto";

# Place current directory in bash title/tab
PROMPT_COMMAND='echo -ne "\033]0; ${PWD##*/}\007"';

#share bash history across sessions/tabs
HISTSIZE=25000;
HISTFILESIZE=10000;
HISTCONTROL=ignoredups:erasedups;
PROMPT_COMMAND="history -a; history -c; history -r; $PROMPT_COMMAND";

# virtualenvwrapper environments home
# WORKON_HOME=$HOME/.virtualenvs;

# make virtualenvwrapper to use pyenv when creating Python environments
# PYENV_VIRTUALENVWRAPPER_PREFER_PYVENV="true";

# aws-vault config
export AWS_VAULT_BACKEND=file;
export AWS_ASSUME_ROLE_TTL=4h
export AWS_SESSION_TTL=4h

# make fzf use ripgrep
if type rg &> /dev/null; then
  export FZF_DEFAULT_COMMAND='rg --files --hidden'
  export FZF_DEFAULT_OPTS='-m'
fi
