#!/usr/bin/env bash

# default editor
EDITOR=vim
FCEDIT=/usr/local/bin/vim

# nvm
NVM_DIR=~/.nvm;

# CLI colors
CLICOLOR=1;

# Colored grep output
GREP_OPTIONS="--color=auto";

# Place current directory in bash title/tab
PROMPT_COMMAND='echo -ne "\033]0; ${PWD##*/}\007"';

#share bash history across sessions/tabs
HISTSIZE=25000;
HISTFILESIZE=10000;
HISTCONTROL=ignoredups:erasedups;
PROMPT_COMMAND="history -a; history -c; history -r; $PROMPT_COMMAND";

# virtualenvwrapper environments home
VIRTUALENVWRAPPER_PYTHON=$BREW_PYTHON_HOME/python
WORKON_HOME=$HOME/.virtualenvs
