#! /usr/bin/env bash

# Display colors
colortest() {
  for i in {0..255}; do
    echo " $i:  $(tput setaf $i)This is a test$(tput sgr0) $(tput setab $i)This is a test$(tput sgr0)";
  done;
}

# Cleanup git local branches that don't have a remote
glbclean() {
  git fetch --all -p
  git branch -vv | grep ": gone]" | awk '{ print $1 }' | xargs -n 1 git branch -D
}

# Merge branch into master locally (to similar CI)
mb() {
  git checkout rc
  git reset --hard origin/rc
  git pull
  git pull --no-ff --no-edit origin $@
}

# Print PATH in easier to read format
mypath() {
  echo -e ${PATH//:/\\n}
}

# Grep for a process
psg() {
  ps aux | grep $@
}

# Run some command N times
runn() {
  if [ $# -lt 2 ]
  then
    echo "2 arguments required: (1) Number of times you want to run the command, (2) The \
command to run"
    return
  fi
  for ((i=1;i<=$1;i++)); do $2; done
}

# Attach tmux session
ta() {
  tmux a -t $@
}

# New tmux session
tn() {
  tmux new -s $@
}

# open buffer output in vim
v() {
  $@ | vim -R -
}

# get the weather for a city
weather() {
  curl -s http://wttr.in/$1
}
