#! /usr/bin/env bash

# ----- Helpful functions -----

# Display colors
function colortest() {
  for i in {0..255}; do
    echo " $i:  $(tput setaf $i)This is a test$(tput sgr0) $(tput setab $i)This is a test$(tput sgr0)";
  done;
}

# Print PATH in easier to read format
function mypath() {
  echo -e ${PATH//:/\\n}
}

# Grep for a process
function psg() {
  ps aux | grep $@
}

# Rails Console shortcut
function rc() {
if [ -z "$@" ]; then
  rails c
else
  ttmscalr rails_c -f $@
fi
}

# Test TTM Branch
# Must be run from a TTM repo
function tb() {
  git checkout rc
  git reset --hard origin/rc
  git pull
  git pull --no-ff --no-edit origin $@
}

# ttmscalr config shortcut
function ttmcfg() {
  ttmscalr config -f $@
}

# ttmscalr ssh shortcut
function ttmssh() {
  ttmscalr ssh debug.1 -f $@
}

# open buffer output in vim
function v() {
  $@ | vim -R -
}
