[user]
	name = Anthony Lamorte

[color]
	ui = true

[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
	editor = nvim

[push]
	default = simple

[credential]
	helper = osxkeychain

[alias]
	# Diffing
	dc = diff --cached
	dh1 = diff HEAD~1
	dch1 = diff --cached HEAD~1
	ds = diff --stat

	# Grepping
	f = "!git ls-files | grep -i"
	grep = grep -Ii

	# List things (History, Aliases)
	la = config --get-regexp alias
	ls = log --graph -10 --pretty=format:"%C(yellow)%h%C(reset)\\ %C(cyan)%as%C(reset)\\ %C(magenta)[%an]%C(reset)\\ %C(red)%d%C(reset)\\ %s"
	lr = log --graph -10 --pretty=format:"%C(yellow)%h%C(reset)\\ %C(cyan)%ar%C(reset)\\ %C(magenta)[%an]%C(reset)\\ %C(red)%d%C(reset)\\ %s"
	ll = log --pretty=format:"%C(yellow)%h%C(reset)\\ %s" --decorate --numstat

	# Shortcut the basics
	aa = add --all
	br = branch -v --sort=-committerdate
	ca = commit --amend
	ci = commit --verbose
	cl = clone
	co = checkout
	fa = fetch --all
	pf = push --force-with-lease
	po = pull origin
	s = status -s
	st = status

	# Resets
	r = reset 		#unstage files in index
	r1 = reset HEAD~1		#undo last commit, put changes in workspace
	rs = reset --soft HEAD~1		#undo last commit, keep changes in workspace and index

	# Stashing
	sl = stash list
	sa = stash apply
	ss = stash save

	# Ctags
	ctags = !.git/hooks/ctags

[init]
	templateDir = ~/.git_template
  defaultBranch = main

[grep]
  lineNumber = true
[pull]
	rebase = true
[merge]
  conflictStyle = diff3
