[user]
	name = Anthony Lamorte

[color]
	ui = true

[core]
	autocrlf = input
	excludesfile = /Users/anthlam/.gitignore_global
	editor = vim

[push]
	default = simple

[credential]
	helper = osxkeychain

[alias]
	# Diffing
	dl = "!git ll -1"
	dslc = diff --cached HEAD^
	diff = diff --word-diff

	# Grepping
	f = "!git ls-files | grep -i"
	grep = grep -Ii

	# List things (History, Aliases)
	la = "!git config -l | grep alias | cut -c 7-"
	lds = log --pretty=format:"%C(yellow)%h\\ %C(cyan)%ad%Cred%d\\ %Creset%s%C(magenta)\\ [%cn]" --decorate --date=short --graph
	ldr = log --pretty=format:"%C(yellow)%h\\ %C(cyan)%ad%Cred%d\\ %Creset%s%C(magenta)\\ [%cn]" --decorate --date=relative --graph
	le = log --oneline --decorate --graph
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%C(magenta)\\ [%cn]" --decorate --numstat

	# Shortcut the basics
	br = branch
	ci = commit
	cl = clone
	co = checkout
	s = status -s
	st = status
	po = pull --no-edit origin

	# Resets
	r = reset 		#unstage files in index
	r1 = reset HEAD^		#undo last commit, put changes in workspace
	rh = reset --hard		#discard changes in workspace and index since last commit
	rhm = reset --hard origin/master
	rs = reset --soft HEAD^		#undo last commit, keep changes in workspace and index

	# Stashing
	sl = stash list
	sa = stash apply
	ss = stash save

  # Ctags
	ctags = !.git/hooks/ctags

[init]
	templatedir = ~/.git_template

[grep]
  lineNumber = true
[pull]
	rebase = true
